 <% if @errors %>
      <% @errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>


<form action="/users" method="post">
    <label>E-mail:</label>
    <input type="text" name="email">
    <br>
    <label>Username:</label>
    <input type="text" name="username">
    <br>
    <label>Password:</label>
    <input type="password" name="password">
    <button type="submit">Submit</button>
</form>
