<form method="post" action="/questions/<%= @question.id %>/vote" id="q_upvote">
  <button id="upvote" type="submit" name="vote[upvote]" value="YES">YES</button>
</form>
<p><%= @question.vote_count %></p>

<form method="post" action="/questions/<%= @question.id %>/vote" id="q_downvote">
  <button id="downvote" type="submit" name="vote[downvote]" value="NOPE">NOPE</button>
</form>
