<div class="question_votes">
  <form method="post" action="/questions/<%= question.id %>/vote" id="q_upvote">
    <button class="btn btn-info btn-primary btn-md glyphicon glyphicon-arrow-up" id="upvote" type="submit" name="upvote" value="YES">YES</button>
  </form>
  <p class="badge"><%= question.vote_count %></p>

  <form method="post" action="/questions/<%= question.id %>/vote" id="q_downvote">
    <button class="btn btn-info btn-danger btn-md glyphicon glyphicon-arrow-down" id="downvote" type="submit" name="downvote" value="NOPE">NOPE</button>
  </form>
</div>
