<h4>Submit an Answer:</h4>
  <form id="answer-form" method="POST" action="/questions/<%= @question.id %>/answer">
    <input type="text" name="text" placeholder="Type your answer here">
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
